#controller-container {
  border-radius: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 800;
  text-align: center;
  border: 1px solid #d9544f97;
  background-color: #5cb85c13;
}

#inter-container {
  display: flex;
  flex-direction: column;
  padding: 1.1rem 0.9rem 0.8rem 1rem;
  font-size: 50px;
}

#controller-container-header {
  border-radius: 1px 1px 0px 0px;
  display: flex;
  height: 100%;
  font-size: 25px;
  font-weight: 800;
  padding-left: 2px;
  cursor: move;
  align-items: stretch;
  justify-content: space-between;
  z-index: 900;
  background-color: #d9544f97;
  color: #5d0603;
}

.mid-row {
  display: flex;
}

.top-row {
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
}
.bottom-row {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.drag {
  border-right: 1px solid #d9544f97;
}

.large {
  padding: 0 3px;
  border-left: 1px solid #d9544f97;
  font-size: 28px;
  margin-left: auto;
}

.small {
  border-left: 1px solid #d9544f97;
  font-size: 20px;
  display: flex;
  div {
    padding: 0 5px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
