@import '~bootstrap/scss/bootstrap';

.jumbotron {
  margin: 0;
  background-color: #ffffff;
}

.custom-control-label {
  vertical-align: top;
}
.custom-control-inline {
  margin-right: 0 !important;
}

.custom-control {
  padding: 3px !important;

  .custom-control-label {
    // set same width/height as before and after
    width: 1em;
    height: 1em;

    &::before,
    &::after {
      left: 0;
    }
  }

  .custom-control-input {
    display: none; // optional
  }
}

.heading-container {
  margin-top: 2.5rem;
}

.custom-checkbox
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 1);
}
.result {
  min-height: 2rem;
}
